{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'papers/css/bootstrap.css' %}"
/>

<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>DEIPaper</title>
    <style type="text/css">
      body {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 style="margin-bottom: 0">DEI Paper</h1>
      <a href="/papers">home</a> /
      <a href="/papers/add/">add paper</a>
    </header>
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    <footer>
    </footer>
  </body>
</html>